html{
    font-size: 16px;
    overflow-x: hidden;
  }
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #4e657a !important;
    overflow-x: hidden ; 
  }
  a b:hover , a:hover {
    cursor:pointer;
  }