<div class="container">
    <div class="row justift-content-center text-center my-5">
      <div class="card">
        <div class="successContainer">
          <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>
          We received your purchase request;<br />
          we'll be in touch shortly!
        </p>
        <button
        routerLink="/categories"
        class="btn btn-success btn-sm mt-1 mt-5"
      >
        Continue Shopping
      </button>
      </div>
    </div>
  </div>
  