<app-nav></app-nav>


<!-- end nav -->
<div class="admin-pharmacy">
  <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Catagory</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form [formGroup]="addCategoryReactiveForm" (ngSubmit)="handleReactiveFormSubmit()" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="categoryName"
                      >Catagory Name
                    </label>
                    <input
                      id="name"
                      name="categoryName"
                      type="text"
                      class="form-control validate"
                      formControlName="categoryName"
                      required
                    />
                    <div
                    class="alert alert-danger"
                    *ngIf="registerFormControl.categoryName.touched && !registerFormControl.categoryName.valid"
                    >
                        <div *ngIf="registerFormControl.categoryName.errors.required" style="color: red;">Category Name is required.</div>     
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="categoryImage"
                      >add Image Link
                    </label>
                    <input
                      id="categoryImage"
                      name="categoryImage"
                      type="text"
                      class="form-control validate"
                      formControlName="categoryImage"
                      required
                    />
                    <div
                    class="alert alert-danger"
                    *ngIf="registerFormControl.categoryImage.touched && !registerFormControl.categoryImage.valid"
                    >
                        <div *ngIf="registerFormControl.categoryImage.errors.required" style="color: red;">image is required.</div>     
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Category</button>
                  </div>
              </form>
          </div>
              
          </div>
        </div>
      </div>
    </div>
</div>

<app-admin-footer></app-admin-footer>


